<ion-content>
  <div class="c-top">
    <div class="c-content"></div>
    <div class="content">
      <div routerLink="/tab">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </div>
      <div class="logo">
        <img src="../../../assets/img/locus-logo.png">
      </div>
    </div>
  </div>

  <div class="c-img">
    <img
      src="https://elecompindonesia.com/locus/assets/img/foto_profil.jpg"
    />
  </div>

  <div class="c-isi" *ngFor="let data of getTentang">
    <div class="title">
      <img src="../../../assets/img/locus-logo.png" /><br />
      <p style="text-align: center">{{data.deskripsi_tentang}}</p>
      <br />
      <h5><b>Visi</b></h5>
      <p>{{data.visi}}</p>
      <br />
      <h5><b>Misi</b></h5>
      <p>{{data.misi}}</p>
    </div>
    <div></div>
  </div>
</ion-content>
