<ion-content>
  <div class="c-top">
    <div class="c-content"></div>
    <div class="content">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="chevron-down-circle-outline"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing..."
        >
        </ion-refresher-content>
      </ion-refresher>
      <div routerLink="/tab/artikel">
        <ion-icon color="primary" name="arrow-back-outline"></ion-icon>
      </div>
      <div class="logo">Artikel</div>
    </div>
  </div>

  <div class="body-content ion-padding">
    <ion-label>
      <p>{{formatDate( artikel.tanggal_artikel)}}</p>
      <p>dilihat {{ artikel.artikel_dilihat}}x</p>
    </ion-label>
    <h2>{{ artikel.judul_artikel}}</h2>
    <img [src]=" artikel.foto_artikel === '' ||  artikel.foto_artikel === null? 'assets/img/image.jpeg' : serverUrlAsset + artikel.foto_artikel">
    <ion-text>
      <p>{{ artikel.deskripsi_artikel}}</p>
    </ion-text>
    <ion-label class="createdBy">
        <p>Penulis :</p>
        <p>Fajar Ali <br>
          Dosen Universitas
        </p>
    </ion-label>
  </div>
</ion-content>
