<ion-content>
  <div class="c-top">
    <div class="c-content"></div>
    <div class="content">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="chevron-down-circle-outline"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing..."
        >
        </ion-refresher-content>
      </ion-refresher>
      <div routerLink="/tab/artikel">
        <ion-icon color="primary" name="arrow-back-outline"></ion-icon>
      </div>
      <div class="logo">Artikel</div>
    </div>
  </div>

  <div class="body-content ion-padding">
    <ion-label>
      <p>{{formatDate( artikel.tanggal_artikel)}}</p>
      <p>Dilihat {{ artikel.artikel_dilihat}}x</p>
    </ion-label>
    <h2>{{ artikel.judul_artikel}}</h2>
    <img [src]=" artikel.foto_artikel === '' ||  artikel.foto_artikel === null? 'assets/img/image.jpeg' : serverUrlAsset + artikel.foto_artikel">
    <ion-text>
      <p>{{ artikel.deskripsi_artikel}}</p>
    </ion-text>
    <!-- <ion-label class="createdBy">
        <p>Penulis: </p>
    </ion-label> -->
  </div>

  <h2>Comments</h2>
  
  <ion-item>
    <ion-label position="stacked">Add Comment as SomeOne</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let comment of comments">
      <ion-label>
        <h2>{{ comment.nama_komentar }}</h2>
        <h3>{{ comment.tanggal_komentar }}</h3>
        <p>{{ comment.deskripsi_komentar }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
