:host {
  ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    // --padding-bottom: 16px;

    .c-top {
      margin: -16px -16px 0px -16px;

      .c-content {
        height: 40px;
        background: var(--ion-color-primary);
      }
      .content {
        background: white;
        margin: 0 16px;
        // height: 50px;
        border-radius: 10px;
        box-shadow: 0 0 7px -2px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        transform: translateY(-50%);

        .logo {
          flex: 1;
          text-align: center;
        }

        ion-icon {
          font-size: 16pt;
        }
      }
    }

    .body-content {
      ion-label {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        p {
          font-size: 0.75em;
        }
      }

      h2 {
        margin-bottom: 1rem;
      }

      img {
        width: 100vw;
        border-radius: 10px;
        margin-bottom: 1rem;
      }

      ion-text {
        p {
          text-align: justify;
          line-height: 1.6;
        }
      }

      .createdBy {
        display: flex;
        justify-content: start;
        p {
          //   font-size: 0.75;
          margin-left: 1vw;
        }
      }
    }

    .comment-container {
      margin-bottom: 5%;

      ion-textarea {
        border: 1px solid gray;
        border-radius: 5px;
        padding: 3%;
      }

      re-captcha {
        margin: 2% 0;
      }

      ion-button {
        color: white;
        height: 5vh;
      }
    }

    .card-comment {
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      margin-bottom: 2%;
      display: flex;
      flex-direction: column;
      border-radius: 10px;

      .comment-title {
        display: flex;
        justify-content: space-between;

        p {
          margin: 0;
          margin-bottom: 2%;
          font-size: 0.75em;
          color: rgba($color: #000000, $alpha: 0.5);
        }
      }
    }
  }
}
