:host {
  ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    // --padding-bottom: 16px;

    .c-top {
      margin: -16px -16px 0px -16px;

      .c-content {
        height: 40px;
        background: var(--ion-color-primary);
      }
      .content {
        background: white;
        margin: 0 16px;
        // height: 50px;
        border-radius: 10px;
        box-shadow: 0 0 7px -2px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        transform: translateY(-50%);

        .logo {
          flex: 1;
          text-align: center;

          img {
            height: 20px;
            // padding-top: 1px;
            // padding-left: 5px;
          }
        }

        ion-icon {
          font-size: 16pt;
        }
      }
    }

    .c-img {
      margin: -16px;
      margin-top: -45px;
      text-align: center;
    }

    .c-isi {
      padding-top: 50%;
      background: white;
      margin: 10 16px;
      border-radius: 10px;
      box-shadow: 0 0 7px -2px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      transform: translateY(-5%);
      .title {
        img {
          text-align: left;
          width: 150px;
          padding-left: 5%;
          padding-top: 3%;
          // height: 80px;
        }
      }
    }
  }
}
