<ion-content>
  <div class="header">
    <div class="header-bg"></div>
    <div class="header-content">
      <div class="logo">
        <img src="../../../assets/img/logo.jpg">
      </div>
    </div>
  </div>

  <div class="profile-logo">
    <img
      src="../../../assets/img/logo.jpg"/>
  </div>

  <div class="profile-content" *ngFor="let data of getTentang">
    <div>
      <p style="text-align: center">
        {{data.deskripsi_tentang}}
      </p>
      <br />
      <h5><b>Visi</b></h5>
      <p>{{data.visi}}</p>
      <br />
      <h5><b>Misi</b></h5>
      <p>{{data.misi}}</p>
    </div>
  </div>
</ion-content>
