:host {
  ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    // --padding-bottom: 16px;

    .c-top {
      margin: -16px -16px 0px -16px;

      .c-content {
        height: 40px;
        background: var(--ion-color-primary);
      }
      .content {
        background: white;
        margin: 0 16px;
        // height: 50px;
        border-radius: 10px;
        box-shadow: 0 0 7px -2px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        transform: translateY(-50%);

        .logo {
          flex: 1;
          text-align: center;
        }

        ion-icon {
          font-size: 16pt;
        }
      }
    }

    .c-edit {
      padding-bottom: 20px;

      .edit {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;

        .form-tiket {
          h4 {
            text-align: center;
          }

          .client-foto {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              max-width: 40%;
            }
          }

          .form {
            div {
              margin-bottom: 5%;

              ion-input,
              ion-textarea {
                border: 1px solid gray;
                border-radius: 5px;
              }

              .alert {
                padding: 1%;
                background-color: #fff3cd;
                color: #856404;
                margin-top: 5%;
              }
            }
          }
        }
      }
    }
  }
}

p {
  font-size: 10pt;
  padding-left: 20px;
}
