<ion-content>
  <div class="c-top">
    <div class="c-content"></div>
    <div class="content">
      <div routerLink="/tab/beranda">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </div>
      <div class="logo">Promo</div>
    </div>
  </div>

  <div class="c-top2">
    <div class="content2">
      <div class="logo">
        <br />
        <img [src]="serverUrlAsset + promo.poster_promo"/>
        <br />
        <b>{{ promo.judul_promo }}</b>
      </div>
      <br>
      <div class="promo"><ion-icon name="calendar-outline"></ion-icon> {{ formatDate(promo.tanggal_mulai) }} s.d. {{ formatDate(promo.tanggal_akhir) }}</div>
      <br>
      Deskripsi <br><br>
      {{promo.deskripsi_promo}}
      <br />
      
    </div>
  </div>
</ion-content>
