<ion-content>
  <div class="c-top">
    <div class="c-content"></div>
    <div class="content">
      <div routerLink="/tab">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </div>
      <div class="logo">Galeri Foto</div>
    </div>
  </div>

  <div class="c-list">
    
  </div>

  <div class="c-galeri">
    <div class="galeri">
      <div *ngFor="let data of getGaleri">
        <img
          (click)="openDetail(data)"
          src="https://elecompindonesia.com/locus/assets/img/{{data.foto_galeri}}"
        />
      </div>
    </div>
  </div>
</ion-content>
