<ion-content>
  <div class="header">
    <div class="header-space"></div>
    <div class="header-content">
      <div class="logo">
        <img src="../../../assets/img/logo.jpg" />
      </div>
      <div>
        <!-- <ion-icon *ngIf="checkIcon(); else showThis" name="log-out-outline" (click)="logOut()"></ion-icon> -->
        <!-- <ng-template #showThis> -->
          <ion-icon name="log-in-outline" routerLink="/login"></ion-icon>
        <!-- </ng-template> -->
      </div>
    </div>  
  </div>

  <div class="c-banner">
    <ion-slides pager="true" [options]="oneItemSlide" *ngIf="getSlider">
      <ion-slide *ngFor="let data of getSlider">
        <img [src]="serverUrlAsset + data.foto_slider" [alt]="data.id_slider" />
      </ion-slide>
    </ion-slides>
  </div>

    <div style="display: block;">
      <div class="card-container">
        
        <div class="card-layanan">
          <img src="../../../assets/img/layanan/layanan01.png" />
          <div>
            <h6>Pengembangan Sistem Informasi (Customize)</h6>
          </div>
          <p>
            Elecomp Indonesia menyediakan Jasa Pengembangan Sistem Informasi Yang Bisa di Customize Sesuai Dengan Kebutuhan Client.
          </p>
        </div>

        <div class="card-layanan">
          <img src="../../../assets/img/layanan/layanan02.png" />
          <div>
            <h6>Jasa Pembuatan WebGIS (Website Sistem Informasi Geografis)</h6>
          </div>
          <p>
            Elecomp Indonesia menyediakan Jasa Pembuatan WebGIS (Website Sistem Informasi Geografis / Geographic Information System).
          </p>
        </div>

        <div class="card-layanan">
          <img src="../../../assets/img/layanan/layanan03.png" />
          <div>
            <h6>Jasa Pembuatan Website Toko Online / E-Commerce</h6>
          </div>
          <p>
            Elecomp Indonesia menyediakan Jasa Pembuatan Website Toko Online / E-Commerce yang dapat digunakan untuk berjualan secara online.
          </p>
        </div>

        <div class="card-layanan">
          <img src="../../../assets/img/layanan/layanan04.png" />
          <div>
            <h6>Pelatihan dan Pendampingan Digital Marketing</h6>
          </div>
          <p>
            Elecomp Indonesia menyediakan jasa Pelatihan dan Pendampingan Digital Marketing (Pemasaran Digital) untuk Perusahaan Swasta, Pemerintahan, Pendidikan, Komunitas, UMKM, dan lain-lain.
          </p>
        </div>

        <div class="card-layanan">
          <img src="../../../assets/img/layanan/layanan05.png" />
          <div>
            <h6>Jasa Pembuatan Aplikasi Mobile (Android dan IOS)</h6>
          </div>
          <p>
            Elecomp Indonesia menyediakan Jasa Pembuatan Aplikasi Mobile Android dan IOS untuk Perusahaan Swasta, Pemerintahan, Pendidikan, Komunitas, UMKM, dan lain-lain.
          </p>
        </div>

        <div class="card-layanan">
          <img src="../../../assets/img/layanan/layanan06.png" />
          <div>
            <h6>Jasa Pembuatan Website Company Profile Profesional</h6>
          </div>
          <p>
            Elecomp Indonesia menyediakan Jasa Pembuatan Website Company Profile Profesional, mulai dari Website Perusahaan Swasta, Pemerintahan, Pendidikan, Komunitas, UMKM, dan lain-lain.
          </p>
        </div>
      </div>
    </div>

  <div class="c-promo">
    <div class="title">
      <b>Layanan</b>
    </div>
    <ion-slides pager="true" [options]="oneItemSlide" *ngIf="getLayanan">
      <ion-slide *ngFor="let data of getLayanan">
        <img [src]="serverUrlAsset + data.img_layanan" [alt]="data.deskripsi_long_layanan" style="width:50px"/>
        <ion-card-header>
          <ion-card-title>{{ data.deskripsi_layanan }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ data.deskripsi_long_layanan }}</p>
        </ion-card-content>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="c-promo">
    <div class="title">
      <b>Promo</b>
      <!-- <div class="d-title" routerLink="/listpromo">Lihat Semua</div> -->
    </div>
    <ion-slides pager="true" [options]="dragSlide" *ngIf="getPromo">
      <ion-slide *ngFor="let data of getPromo">
        <img [src]="serverUrlAsset + data.poster_promo">
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
