:host {
  ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;

    .header {
      margin: -16px -16px 0px -16px;

      .header-space {
        height: 40px;
        background: var(--ion-color-primary);
      }

      .header-content {
        background: white;
        margin: 0 16px;
        border-radius: 10px;
        box-shadow: 0 0 7px -2px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        transform: translateY(-50%);

        .logo {
          flex: 1;

          img {
            height: 20px;
            padding-top: 1px;
            padding-left: 5px;
          }
        }

        ion-icon {
          font-size: 16pt;
        }
      }
    }

    .c-banner {
      margin: 0 -16px;

      ion-slides {
        padding-bottom: 30px;

        ion-slide {
          background: white;
          height: 150px;
          border-radius: 10px;

          img {
            height: auto;
            width: auto;
            border-radius: 10px;
          }
        }
      }
    }

    .c-promo {
      margin: 0 -16px;

      .title {
        padding: 16px 16px 10px 16px;
        column-width: 50%;
      }

      .d-title {
        color: var(--ion-color-primary);
        padding-right: 16px;
        text-align: right;
        column-width: 50%;
        font-size: small;
      }

      ion-slides {
        padding-bottom: 30px;
        margin-left: 15px;
        align-items: center;

        ion-slide {
          background: white;
          border-radius: 10px;
          // padding-top: 100%;

          ion-card{
            display: flex;
            flex-direction: column;
            width: 100% !important;
            margin: 0 !important;
          }

          img {
            height: auto;
            width: auto;
            border-radius: 10px;
          }

          &:before {
            content: "";
            margin-top: 100%;
          }
        }
      }
    }
  }
}
