<ion-content>
  <div class="header">
    <div class="header-space"></div>
    <div class="header-content">
      <div class="logo">
        <img src="../../../assets/img/logo.jpg" />
      </div>
      <div>
        <ion-icon name="log-in-outline" routerLink="/login"></ion-icon>
      </div>
    </div>  
  </div>

  <div class="c-banner">
    <ion-slides pager="true" [options]="bannerSlide">
      <ion-slide>
        <img src="../../../assets/img/banner/banner1.png" />
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/img/banner/banner2.jpg" />
      </ion-slide>
    </ion-slides>
  </div>

  <div class="c-promo">
    <div class="title">
      <b>Promo</b>
      <div class="d-title" routerLink="/listpromo">Lihat Semua</div>
    </div>
    <ion-slides pager="true" [options]="promoSlide" *ngIf="getPromo">
      <ion-slide *ngFor="let data of getPromo">
        <img (click)="openDetailPromo(data)" [src]="data.poster_promo === '' || data.poster_promo === null? 'assets/img/image.jpeg' : serverUrlAsset + data.poster_promo">
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
