<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="beranda">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="artikel">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Artikel</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="member">
      <ion-icon name="people"></ion-icon>
      <ion-label>Client</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>