<ion-content>
  <div class="c-top">
    <div class="c-content"></div>
    <div class="content">
      <div routerLink="/tab">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </div>
      <div class="logo">Galeri Foto</div>
    </div>
  </div>

  <div class="c-top2">
    <div class="content2">
      <div class="logo">
        <b>{{datadetail.deskripsi_foto}}</b><br />
        <img
          src="https://elecompindonesia.com/locus/assets/img/{{datadetail.foto_galeri}}"
        /><br />
      </div>
      <br>
      <div class="c-list2">
        <div><ion-icon name="calendar-outline"></ion-icon> 06-09-2020</div>
      </div>
    </div>
  </div>

  <div class="c-top3"></div>
</ion-content>
