<ion-content>
  <div class="header">
    <div class="header-background"></div>
    <div class="header-content">
      <div routerLink="/login" routerDirection="back">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </div>
      <div class="title">
        <b>Register</b>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="space">
      <ion-img>
        <img src="../../../assets/img/logo.jpg" />
      </ion-img>
    </div>
    <form>
      <ion-item lines="none">
        <ion-label color="dark" position="floating">Name</ion-label>
        <ion-input
          type="text"
          name="name"
          [(ngModel)]="name"
          required>
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="dark" position="floating">Email</ion-label>
        <ion-input
          type="email"
          name="email"
          [(ngModel)]="email"
          required>
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="password"
          name="password"
          [(ngModel)]="password"
          required>
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input
          type="password"
          name="confirmPassword"
          [(ngModel)]="confirmPassword"
          required>
        </ion-input>
      </ion-item>

      <div class="space"></div>

      <ion-button
        expand="block"
        type="submit"
        (click)="onRegister()"
        mode="ios"
        color="success">
        Sign up
      </ion-button>
    </form>
  </div>
</ion-content>
