<ion-content>
  <div class="c-top">
    <div class="c-content"></div>
    <div class="content">
      <div routerLink="/tab">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </div>
      <div class="logo">Event</div>
    </div>
  </div>

  <div class="c-filter">
    <div class="filter">
      <div>Event Hari Ini</div>
    </div>
  </div>

  <div class="c-list" *ngFor="let data of getEventToday">
    <div class="list" (click)="openDetail(data)">
      <img
        src="https://elecompindonesia.com/locus/assets/img/{{data.poster_event}}"
      />
      <div class="title">
        <b>{{data.judul_event}}</b><br /><br />
        <ion-icon name="calendar-outline"></ion-icon>
        22-03-2020<br />
        <ion-icon name="time-outline"></ion-icon> {{data.jam_event}}
      </div>
    </div>
  </div>

  <div class="c-filter">
    <div class="filter">
      <div>Event Mendatang</div>
    </div>
  </div>

  <div class="c-list" *ngFor="let data of getEventTomorrow">
    <div class="list" (click)="openDetail(data)">
      <img
        src="https://elecompindonesia.com/locus/assets/img/{{data.poster_event}}"
      />
      <div class="title">
        <b>{{data.judul_event}}</b><br /><br />
        <ion-icon name="calendar-outline"></ion-icon>
        17-08-2020<br />
        <ion-icon name="time-outline"></ion-icon> {{data.jam_event}}
      </div>
    </div>
  </div>

  <div class="c-filter">
    <div class="filter">
      <div>Event Selesai</div>
    </div>
  </div>

  <div class="c-list" *ngFor="let data of getEvent">
    <div class="list" (click)="openDetail(data)">
      <img
        src="https://elecompindonesia.com/locus/assets/img/{{data.poster_event}}"
      />
      <div class="title">
        <b>{{data.judul_event}}</b><br /><br />
        <ion-icon name="calendar-outline"></ion-icon>
        11-08-2020<br />
        <ion-icon name="time-outline"></ion-icon> {{data.jam_event}}
      </div>
    </div>
  </div>
</ion-content>
