<ion-content>
  <div class="c-top">
    <div class="c-content"></div>
    <div class="content">
      <div routerLink="/tab">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </div>
      <div class="logo">Promo</div>
    </div>
  </div>

    <div class="c-filter">
      <div class="filter">
        <div>Promo Hari Ini</div>
      </div>
    </div>

  <!-- <div class="kategori">
    
  </div> -->

  <div class="c-list" *ngFor="let data of getPromoToday">
    <div class="list" (click)="openDetail(data)">
      <img
        src="https://elecompindonesia.com/locus/assets/img/{{data.poster_promo}}"
      />
      <div>
        <b>{{data.judul_promo}}</b><br />
        <br />
        <ion-icon name="calendar-outline"></ion-icon> 19-10-2020
      </div>
    </div>
  </div>

  <div class="c-filter">
    <div class="filter">
      <div>Promo Mendatang</div>
    </div>
  </div>

  <div class="c-list" *ngFor="let data of getPromoTomorrow">
    <div class="list" (click)="openDetail(data)">
      <img
        src="https://elecompindonesia.com/locus/assets/img/{{data.poster_promo}}"
      />
      <div>
        <b>{{data.judul_promo}}</b><br />
        <br />
        <ion-icon name="calendar-outline"></ion-icon> 19-10-2020
      </div>
    </div>
  </div>

  <div class="c-filter">
    <div class="filter">
      <div>Promo Selesai</div>
    </div>
  </div>

  <div class="c-list" *ngFor="let data of getPromo">
    <div class="list" (click)="openDetail(data)">
      <img
        src="https://elecompindonesia.com/locus/assets/img/{{data.poster_promo}}"
      />
      <div>
        <b>{{data.judul_promo}}</b><br />
        <br />
        <ion-icon name="calendar-outline"></ion-icon> 21-09-2020
      </div>
    </div>
  </div>
</ion-content>
