<!-- <ion-header>
    <ion-toolbar>
      <ion-title>
        Artikel
      </ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>
    <div class="c-top">
      <div class="c-content"></div>
      <div class="content">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="chevron-down-circle-outline"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing..."
          >
          </ion-refresher-content>
        </ion-refresher>
        <div class="logo">Member</div>
        <div><ion-icon name="alert-circle-outline" routerLink="/tentang"></ion-icon></div>
        <!-- <div>
            <ion-searchbar (ionInput)="FilterJSONData($artikel)"></ion-searchbar>
          </div> -->
      </div>
    </div>
  
    <div class="c-galeri">
      <div class="galeri">
      <ion-searchbar placeholder="Pencarian" [(ngModel)]="textCari" (ionInput)="cariOnInput()" (ionCancel)="cariOnCancel()" (keypress)="inputPress($event)"></ion-searchbar>
      <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'listmember', item.id_member]">
      {{item.nama_member}}
      </ion-item>
      <div *ngFor="let data of getMemberUI" (click)="openDetail(data)">
        <ion-card>
          <!-- <ion-avatar> -->
            <img [src]="data.foto_kta === '' || data.foto_kta === null? 'assets/img/image.jpeg' : serverUrlAsset + data.foto_kta">
          <!-- </ion-avatar> -->
          <ion-card-header>
              <h3>{{data.nama_member}}</h3>
              <p>{{data.profesi_member}}</p>
          </ion-card-header>
        </ion-card>
      </div>
      </div>
    </div>
  </ion-content>
  